.kl{
   margin-left: auto;
   margin-right: auto;
    width: 100%;
    height: 100vh;
    box-sizing:border-box !important;
    display: flex;
    justify-content: center;
    background-color: rgb(46, 46, 46);
    flex-wrap: wrap;

}
.conform{
    width: 100%;
    height: 1000px;
    background-color: rgb(46, 46, 46);
}

.unocon{
     
    width: 24%;
    height: 250px;
    border-radius: 5px;
    padding: 10px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}

.car{
    width: 50%;
    height: 50px;
    
    margin-left: auto;
    margin-right: auto;
    
}
.car > marquee{
    color: rgb(96, 28, 205);
    font-size: 30px;
}

.unocon > textarea{
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
     
    
}

.descripcionh1{
    color: red;
}